#topArrow {
  animation: fade 2.5s infinite;
}

#middleArrow {
  animation: fadeDelayOne 2.5s infinite;
}

#bottomArrow {
  animation: fadeDelayTwo 2.5s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeDelayOne {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  68% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeDelayTwo {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  68% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ProjectsPage.js & FreelancePage.js styles */

.lineLeft, .lineRight, .longLine {
  height: 1px;
  background-color: lightgray;
  flex-grow: 1;
}

.lineLeft, .longLine {
  margin-left: 10%;
}

/*background: -webkit-gradient(linear, 0 0, 100% 0, from(lightgray), to(white));*/
/*background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(lightgray));*/

.lineRight, .longLine {
  margin-right: 10%;
}

.mobileImage {
  width: 90vw;
}

.tvMobilePreview {
  width: 50vw;
}

.tvPreview {
  width: 25vw;
  max-width: 300px;
  padding-left: 15px;
  flex-grow: 0;
}

.lgPreview {
  width: 50vw;
  flex-grow: 0;
}

.daPreview {
  width: 50vw;
  max-width: 550px;
  flex-grow: 0;
}

.clientPreview {
  width: 35vw;
}

.clientLogo {
  width: 10vw;
}

.mobileLogo {
  width: 30vw;
}

/*.clientLogo:hover {*/
/*  transform: scale(0.99);*/
/*  opacity: 0.75;*/
/*}*/

.paragraph {
  font-family: "Avenir Light", sans-serif;
  font-size: 14pt;
  justify-content: center;
}

.logoLabel {
  font-family: "Avenir Light", sans-serif;
  font-size: 14pt;
  justify-content: center;
  color: gray;
  margin: 5px;
}

.divider {
  text-align: center;
}

.title {
  font-family: "Eras Bold ITC", monospace;
  font-size: 4.5em;
  text-align: center;
  min-height: 1em !important;
  background: -webkit-linear-gradient(1deg, rgba(187,71,255,1) 40%, rgba(102,71,255,1) 60%);
  background: linear-gradient(1deg, rgba(187,71,255,1) 40%, rgba(102,71,255,1) 60%);
  background-size: 100% 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
  width: 100%;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 50% 30%;
  }
  50% {
    background-position: 50% 65%;
  }
  100% {
    background-position: 50% 30%;
  }
}

.menuItem, .menuName {
  margin: 10px;
}

.menuItem, .menuName, .footerItem {
  font-family: "Eras Bold ITC", monospace;
  font-size: 2em;
  text-align: center;
  min-height: 1em !important;
  background: -webkit-linear-gradient(1deg, rgba(187,71,255,1) 65%, rgba(102,71,255,1) 85%);
  background: linear-gradient(1deg, rgba(187,71,255,1) 65%, rgba(102,71,255,1) 85%);
  background-size: 100% 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-width: 0px;
  border-bottom-width: 1px;
  border-radius: 3px;
  border-color: rgba(0,0,0,0);
  border-style: solid;
}


.menuItem:hover, .footerItem:hover {
  transform: scale(0.99);
  border-color: rgba(187,71,255,1);
}

/* CornerGuide.js styles */

.blurb {
  width: 35vw;
  min-width: 315px;
}

.portrait {
  width: 15vw;
  min-width: 135px;
}

.guideContainer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

/* Footer.js styles */

.footerItem {
  margin-right: 10px;
  margin-left: 10px;
}

.footerLink {
  text-decoration: none;
}