/* Animation for three arrows svg graphic */

#topArrow {
  -webkit-animation: fade 2.5s infinite;
  animation: fade 2.5s infinite;
}

#middleArrow {
  -webkit-animation: fade 2.5s infinite;
  animation: fade 2.5s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  opacity: 0;
}

#bottomArrow {
  -webkit-animation: fade 2.5s infinite;
  animation: fade 2.5s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  opacity: 0;
}

@keyframes fade {
  0% { opacity: 0; }
  16% { opacity: 1; }
  32% { opacity: 1; }
  48% { opacity: 1; }
  68% { opacity: 0; }
  84% { opacity: 0; }
  100% { opacity: 0; }
}


/* ===== ProjectsPage.js & FreelancePage.js styles ===== */

/* client logo band lines */
.lineLeft, .lineRight, .longLine {
  height: 1px;
  background-color: lightgray;
  flex-grow: 1;
}

.lineLeft, .longLine {
  margin-left: 10%;
}

.lineRight, .longLine {
  margin-right: 10%;
}

/* project and freelance image sizes */
.mobileClientPreview {
  width: 80vw;
}

.clientPreview1 {
  width: 35vw;
  padding-left: 35px;
}

.clientPreview2 {
  width: 35vw;
  padding-right: 15px;
}

/* technivision preview */
.tvMobileImage {
  width: 50vw;
  max-width: 200px;
}

.tvParallax {
  width: 20vw;
  max-width: 300px;
  padding-left: 15px;
}

/* linguini preview */
.lgMobileImage {
  width: 90vw;
}

.lgParallax {
  width: 45vw;
  padding-right: 15px;
}

/* datina preview */
.daMobileImage {
  width: 75vw;
}

.daParallax {
  width: 30vw;
  padding-left: 15px;
}

/* client logo image sizing */
.clientLogo {
  width: max(10vw, 150px);
}

.mobileLogo {
  width: 20vw;
}

/* = project and freelance description animation = */

/* left side paragraphs */
.tvDesc, .daDesc, .firstDesc {
  transform: translateX(-100px);
  opacity: 0;
  transition: 0.5s all ease;
}

/* right side paragraphs */
.lgDesc, .secondDesc {
  transform: translateX(100px);
  opacity: 0;
  transition: 0.5s all ease;
}

.activeDesc {
  transform: translateX(0);
  opacity: 1;
}

/* === */

.noUnderlineLink {
  text-decoration: none;
}

/* = various text styles = */

.paragraph, .intro, .hoverText {
  font-family: "Nixie One", serif;
  font-size: min(19px, 3.5vmin);
  justify-content: center;
}

.logoLabel {
  font-family: "Franchise", serif;
  font-size: min(32px, 4vmin);
  justify-content: center;
  color: gray;
  margin: 5px;
}

.divider {
  text-align: center;
}

.filledTitle {
  filter:
    drop-shadow(-6px 0px 2px white)
    drop-shadow(-7px 0px 1px white)
}

.title, .filledTitle {
  font-family: "Franchise", monospace;
  font-size: min(52px, 6vmin);
  /*background: -webkit-linear-gradient(1deg, rgba(187,71,255,1) 40%, rgba(102,71,255,1) 60%);*/
  /*background: linear-gradient(1deg, rgba(187,71,255,1) 40%, rgba(102,71,255,1) 60%);*/
  background: -webkit-linear-gradient(1deg, var(--light-color) 40%, var(--dark-color) 60%);
  background: linear-gradient(1deg, var(--light-color) 40%, var(--dark-color) 60%);
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;

  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  animation: gradient 5s ease infinite;
  /*width: 100%;*/
}

@keyframes gradient {
  0% {
    background-position: 50% 30%;
  }
  50% {
    background-position: 50% 70%;
  }
  100% {
    background-position: 50% 30%;
  }
}

.clickableTitle {
  border-width: 0px;
  border-bottom-width: 1px;
  border-radius: 3px;
  border-color: rgba(0,0,0,0);
  border-style: solid;
  cursor: pointer;
}

.clickableTitle:hover {
  transform: scale(0.99);
  /*border-color: rgba(187,71,255,1);*/
  border-color: var(--light-color);
}

.navbarItem, .menuName, .menuItem {
  margin: 10px;
  margin-right: 12px;
}

.navbarItem, .menuName {
  font-size: max(min(48px,8vw),32px);
}

.menuItem {
  font-size: max(min(36px,6vw),24px);
  text-align: center;
}

/* CornerGuide.js styles */

.portrait {
  width: 15vw;
  height: 21vw;
  min-width: 135px;
  min-height: 189px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.guideContainer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.intro {
  max-width: 420px;
  max-font-size: 27px;
  font-size: calc(10px + 0.9vw);
}

.quote, .quoteRight {
  max-width: 50px;
  max-height: 50px;
  width: 5vw;
  height: 5vw;
}

.quoteRight {
  transform: scaleX(-1) scaleY(-1);
  margin-top: 10vmax;
}

.quote {
  padding-left: 10px;
}

/* Header.js styles */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 5px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  background-image: url(../assets/strip.png);
  background-size: contain;
}

/* Footer.js styles */

.footerText {
  font-family: "Nixie One", sans-serif;
  font-size: min(14px, 3vmin);
  color: #3d3d3d;

  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  align-items: center;
}

.finContainer {
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fin {
  font-family: "Franchise", monospace;
  color: gray;
  font-size: min(72px,8vmin);
}

/* IntroPage.js styles */

.iconTextBox {
  position: relative;
  margin-right: 2vw;
  display: flex;
  flex-direction: column-reverse;
}

/* HoverImage.js styles */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;

  opacity: 0;
  border-radius: 30px;
  transform: scale(0.9);
  transition: 0.3s all ease;

  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);

  /*background: linear-gradient(1deg, rgba(187,71,255,0.5) 25%, rgba(102,71,255,0.5) 75%);*/
  background: linear-gradient(1deg, rgba(255, 198, 113, 0.5) 25%, rgba(255, 142, 71, 0.5) 75%);
  /*background-size: 100% 200%;*/
  /*animation: gradient 3s ease infinite;*/
}

.overlay:hover {
  opacity: 1;
  transform: scale(1);
  border-radius: 15px;
}

.hoverText {
  color: white;
  /*text-shadow: 0 0 10px #000000;*/
  filter:
    drop-shadow(2px 2px 10px black)
    drop-shadow(-2px -2px 10px black);
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}