@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/* Animation for three arrows svg graphic */

#topArrow {
  @include vendor-prefix('animation', 'fade 2.5s infinite');
}

#middleArrow {
  @include vendor-prefix('animation', 'fade 2.5s infinite');
  @include vendor-prefix('animation-delay', '0.4s');
  opacity: 0;
}

#bottomArrow {
  @include vendor-prefix('animation', 'fade 2.5s infinite');
  @include vendor-prefix('animation-delay', '0.8s');
  opacity: 0;
}

@keyframes fade {
  0% { opacity: 0; }
  16% { opacity: 1; }
  32% { opacity: 1; }
  48% { opacity: 1; }
  68% { opacity: 0; }
  84% { opacity: 0; }
  100% { opacity: 0; }
}


/* ===== ProjectsPage.js & FreelancePage.js styles ===== */

/* client logo band lines */
.lineLeft, .lineRight, .longLine {
  height: 1px;
  background-color: lightgray;
  flex-grow: 1;
}

.lineLeft, .longLine {
  margin-left: 10%;
}

.lineRight, .longLine {
  margin-right: 10%;
}

/* project and freelance image sizes */
.mobileClientPreview {
  width: 80vw;
}

.clientPreview1 {
  width: 35vw;
  padding-left: 35px;
}

.clientPreview2 {
  width: 35vw;
  padding-right: 15px;
}

/* technivision preview */
.tvMobileImage {
  width: 50vw;
  max-width: 200px;
}

.tvParallax {
  width: 20vw;
  max-width: 300px;
  padding-left: 15px;
}

/* linguini preview */
.lgMobileImage {
  width: 90vw;
}

.lgParallax {
  width: 45vw;
  padding-right: 15px;
}

/* datina preview */
.daMobileImage {
  width: 75vw;
}

.daParallax {
  width: 30vw;
  padding-left: 15px;
}

/* client logo image sizing and scrolling */
.mobile-logo {
  width: max(11vw, 65px);
}

.hover-image {
  width: max(11vw, 125px);
  height: max(11vw, 125px);
  justify-content: center;
  align-items: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include vendor-prefix('filter', 'grayscale(1)');
  @include vendor-prefix('transition', 'filter ease 0.5s');
}
.hover-image:hover {
  @include vendor-prefix('filter', 'none');
  cursor: pointer;
}

.hover-image, .mobile-logo {
  position: absolute;
  animation: scroll linear 28s infinite, edgeFade linear 28s infinite;
  animation-delay: calc(var(--order) * -4700ms);
  opacity: 0;
}

@keyframes scroll {
  from {
    transform: translateX(calc(-1*max(50vw,250px)));
  }
  to {
    transform: translateX(max(50vw,250px));
  }
}
@media (min-width: 500px) {
  @keyframes edgeFade {
    15% { opacity: 0; }
    30% { opacity: 1; }

    70% { opacity: 1; }
    85% { opacity: 0; }
  }
}
@media (max-width: 500px) {
  @keyframes edgeFade {
    25% { opacity: 0; }
    40% { opacity: 1; }

    60% { opacity: 1; }
    75% { opacity: 0; }
  }
}

/* = project and freelance description animation = */

/* left side paragraphs */
.tvDesc, .daDesc, .firstDesc {
  transform: translateX(-100px);
  opacity: 0;
  transition: 0.5s all ease;
}

/* right side paragraphs */
.lgDesc, .secondDesc {
  transform: translateX(100px);
  opacity: 0;
  transition: 0.5s all ease;
}

.activeDesc {
  transform: translateX(0);
  opacity: 1;
}

/* === */

.noUnderlineLink {
  text-decoration: none;
}

.clickableThing {
  cursor: pointer;
}

/* = various text styles = */

.paragraph, .intro, .hoverText, form, input, textarea {
  font-family: "Nixie One", serif;
  font-size: min(19px, 3.5vmin);
  justify-content: center;
}

.logoLabel {
  font-family: "Franchise", serif;
  font-size: min(32px, 4vmin);
  justify-content: center;
  color: gray;
  margin: 5px;
}

.divider {
  text-align: center;
}

.title {
  font-family: "Franchise", monospace;
  font-size: min(52px, 6vmin);
  background: -webkit-linear-gradient(1deg, var(--light-color) 40%, var(--dark-color) 60%);
  background: linear-gradient(1deg, var(--light-color) 40%, var(--dark-color) 60%);
  background-size: 100% 200%;
  z-index: 1;

  @include vendor-prefix('background-clip', 'text');
  @include vendor-prefix('text-fill-color', 'transparent');
  @include vendor-prefix('animation', 'gradient 5s ease infinite');
}

@keyframes gradient {
  0% {
    background-position: 50% 20%;
  }
  50% {
    background-position: 50% 80%;
  }
  100% {
    background-position: 50% 20%;
  }
}

.filledTitle {
  font-family: "Franchise Filled", monospace;
  position: absolute;
  background: white;
  z-index: 0;

  @include vendor-prefix('background-clip', 'text');
  @include vendor-prefix('text-fill-color', 'transparent');
}

.clickableTitle {
  border-width: 0px;
  border-bottom-width: 1px;
  border-radius: 3px;
  border-color: rgba(0,0,0,0);
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
}

.clickableTitle:hover {
  transform: scale(0.98);
  border-color: var(--light-color);
}

.clickableTitle:hover + .filledTitle {
  transform: scale(0.98);
}

.navbarItem, .menuName, .menuItem {
  margin: 10px;
}

.navbarItem, .menuName {
  font-size: max(min(48px,4vw),32px);
}

.menuItem {
  font-size: max(min(36px,6vw),24px);
  text-align: center;
}

@media (max-width: 525px) {
  .lastItem {
    display: none;
  }
}

@media (max-width: 710px) {
  .menuName {
    display: none;
  }
}

/* CornerGuide.js styles */

.portrait {
  width: 15vw;
  height: 21vw;
  min-width: 135px;
  min-height: 189px;

  @include vendor-prefix('user-select', 'none');
}

.guideContainer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  pointer-events: none;
}

.portrait, .quote, .quoteRight, .intro {
  @include vendor-prefix('backdrop-filter', 'blur(1px)');
}

.intro {
  max-width: 420px;
  max-font-size: 27px;
  font-size: calc(10px + 0.9vw);
  pointer-events: initial;
}

.quote, .quoteRight {
  max-width: 50px;
  max-height: 50px;
  width: 5vw;
  height: 5vw;
}

.quoteRight {
  transform: scaleX(-1) scaleY(-1);
  margin-top: 10vmax;
}

.quote {
  padding-left: 10px;
}

/* Header.js styles */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;

  @include vendor-prefix('backdrop-filter', 'blur(3px)');
  background-image: url(../assets/strip.png);
  background-size: contain;
}

/*.navbar:before {*/
/*  position: absolute;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/

/*  content: "";*/
/*  background-color: whitesmoke;*/
/*  opacity: 0.25;*/
/*}*/

/* Footer.js styles */

.footerText {
  font-family: "Nixie One", sans-serif;
  font-size: min(14px, 3vmin);
  color: #3d3d3d;

  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  align-items: center;
}

.finContainer {
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fin {
  font-family: "Franchise", monospace;
  color: gray;
  font-size: min(96px,10vmin);
}

/* IntroPage.js styles */

.iconTextBox {
  position: relative;
  margin-right: 2vw;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

/* HoverImage.js styles */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;

  opacity: 0;
  border-radius: 30px;
  transform: scale(0.9);
  transition: 0.3s all ease;

  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);

  /*background: linear-gradient(1deg, rgba(187,71,255,0.5) 25%, rgba(102,71,255,0.5) 75%);*/
  background: linear-gradient(1deg, rgba(255, 198, 113, 0.5) 25%, rgba(255, 142, 71, 0.5) 75%);
  /*background-size: 100% 200%;*/
  /*animation: gradient 3s ease infinite;*/
}

.overlay:hover {
  opacity: 1;
  transform: scale(1);
  border-radius: 15px;
}

.hoverText {
  color: white;
  filter:
    drop-shadow(2px 2px 10px black)
    drop-shadow(-2px -2px 10px black);
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  @include vendor-prefix('transform', 'translate(-50%, -50%)');
  text-align: center;
}

/* ModalWindow.js styles */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.25);
  @include vendor-prefix('backdrop-filter', 'blur(1px)');
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 1;
}

.modal.hidden {
  opacity: 0;
  visibility: hidden;
}

.modalWindow {
  position: relative;
  width: 80vw;
  height: 80vh;
  margin-top: 5vh;

  background-color: #F8F8F8;
  border-radius: 30px;
  @include vendor-prefix('box-shadow', 'inset 0 0 0 10px #ddd, 0 0 20px 10px #00000044');
  overflow: hidden;
}

.modalGrid {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: calc(100% - 100px);
  display: grid;
  // grid-template-columns: repeat(auto-fit, 50%);
  grid-template-columns: repeat(auto-fit, 50%);
}

.modalNavigation {
  position: absolute;
  top: 0;
  right: 0;
}

.modalTitle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 27.5px;
  margin-left: 25px;
}

@media (max-width: 525px) {
  .modalTitle {
    margin-top: 35px;
  }
}

.modalDesc {
  max-width: 700px;
}

textarea {
  max-width: min(400px, 75vw);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--light-color);
  border-radius: 3px;
}

#close-button, #help-button {
  cursor: pointer;
}

#close-button:hover circle, #help-button:hover circle {
  r: 24;
}

.modalShowcase {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  justify-self: end;
  width: 100%;
}

@media (max-width: 800px) {
  .modalShowcase {
    display: none;
  }
}

.modalIcons {
  max-width: 50%;
  max-height: calc(calc(80vh - 100px) / 3 );
}

.modalComponents {
  max-width: 70%;
  max-height: calc(calc(80vh - 100px) / 3 );
}

.modalArt {
  max-width: 90%;
  max-height: calc(calc(80vh - 100px) / 3 );
}