body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Nixie One";
  src: local("Nixie One"),
  url("./assets/NixieOne.otf") format("opentype");
}

@font-face {
  font-family: "Franchise";
  src: local("Franchise"),
  url("./assets/Franchise.ttf") format("truetype");
}

@font-face {
  font-family: "FranchiseFilled";
  src: local("FranchiseFilled"),
  url("./assets/FranchiseFilled.ttf") format("truetype");
}